body{
    background: url('../../app/img/fondoinst.jpg');
}

#organigramafondo{
background: url('../../app/img/prueba.jpg');
}
#medalleroFondo{
    background: url('../../app/img/medallero.jpg');
}
#tituloReglamento{
    background: url('../../app/img/titreg.jpg');
}
#listaReglamento{
    background: url('../../app/img/reglamento.jpg');
}
